/* .companies{

padding:70px;

text-align:center;

background:white;

}

.company-list{

display:flex;

justify-content:center;

gap:50px;

margin-top:40px;

font-size:22px;

font-weight:600;

color:#64748B;

flex-wrap:wrap;

} */